<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
		<style>{% include "style.css" %}</style>
		<title>uneu.net</title>
	</head>

	<body>
		<header>
			<section class="hero has-background-white is-fullheight">
				<div class="hero-body has-text-centered">
					<div class="container">
						<p class="is-size-1 has-text-black">{{ title }}</p>
					</div>
				</div>

				<div class="has-text-centered">
					<span class="arrow-down mb-6"></span>
				</div>
			</section>
		</header>

		<article>
			<div class="container my-6">
				{{ content }}
			</div>
		</article>

		<footer class="footer">
			<div class="content has-text-centered">
				<p>Built in 11ty {{ eleventy.version }}</p>
			</div>
		</footer>
	</body>
</html>
